/* frontend/css/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f9ff;
}

h1, h2 {
    color: #333;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

pre {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e7f0ff;
    padding: 15px;
    border-radius: 5px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.message.user {
    text-align: right;
    background-color: #eaeff0;
}

.message.ai {
    text-align: left;
    background-color: #f0f3ec;
}

.message.agent-1 {
    background-color: #d1e7dd;
}

.message.agent-2 {
    background-color: #cff4fc;
}

.message.agent-3 {
    background-color: #f8d7da;
}

.message.agent-4 {
    background-color: #fff3cd;
}

.chat-input {
    display: flex;
    margin-top: 1rem;
}

#chat-input {
    width: 100%;
    height: 50px;
}

.chat-input #send-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0 1rem;
    cursor: pointer; /* Add this line to show it's clickable */
}

/* Add a hover state for better user feedback */
.chat-input #send-button:hover {
    background-color: #555;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.form-group {
    flex: 1;
    margin-right: 1rem;
}

.form-group:last-child {
    margin-right: 0;
}

.form-group.full-width {
    flex-basis: 100%;
    margin-right: 0;
}

.form-group.agent-name {
    flex: 0 0 25%;
}

.form-group.agent-role {
    flex: 0 0 70%;
}

.form-group.parent-agent {
    flex: 1;
}

.form-group.submit-button {
    flex: 0 0 auto;
    align-self: flex-end;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea.form-control {
    min-height: 100px;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}

.btn-success:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group, .form-group.agent-name, .form-group.agent-role {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}