<!-- /templates/index.html -->
{% extends 'layout.html' %}
{% block content %}
<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createAgentModal">Create Agent</button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createTaskModal">Create Task</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3>Agents</h3>
        <div class="list-group" id="agentsList">
            <!-- Agents will be loaded here -->
            {% for agent in agents %}
                <a href="#" class="list-group-item list-group-item-action">{{ agent.name }} - {{ agent.role }}</a>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'modals.html' %}
{% endblock %}
