<!-- templates/sidebar.html -->
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('agents_page') }}">Agents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('tasks_page') }}">Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('conversation_page') }}">Conversations</a>
    </li>
</ul>
